div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
	background-color:#eeeeee;
}

div.one-third-last {
	margin: 0;
}

img {
  max-width: 100%;
  height:auto;
  margin: 0 0 10px 0;
}